@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #263238;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  margin-left: auto;
  margin-right: auto;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #263238;
}
a {
	color: #FF9800;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #263238;
  color: #ECEFF1;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  clear: both;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  min-height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
}

nav h1 {
  margin: 10px;
  position: absolute;
  width: calc(100% - 20px);
  height: 30px;
}

@media screen and (max-width: 400px){
	nav h1 {
    float: none;
  }

}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 8px 40px 10px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (max-width: 992px) {
	  #breadcrumb {
      width: 100%;
  }
}


/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #f18200;
    font-weight: bold;
    text-decoration: none;
}

#breadcrumb li:last-of-type a {
    color: #515151;
}

#breadcrumb li:last-of-type a:hover {
    color: #515151;
    text-decoration: none;
}


/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #EF6C00;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  display: none;
}

#map-button {
  background-color: #FF9800;
  color: #fff;
	padding: 10px;
  font-size: 12pt;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 20px;
  margin: 20px -50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	position: relative;
	left: 50%;
}

#map-button:hover{
  background: #EF6C00;
  color: #fff;
  text-decoration: underline;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
	height: auto;
  background-color: #263238;
  align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
.filter-options h3 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px auto;
  min-height: 380px;
	padding-bottom: 20px;
  text-align: left;
  max-width: 30%;
}


@media screen and (max-width: 992px) {
	  #restaurants-list li {
      max-width: 48%;
  	  padding: 0 0 25px;
  }
}

@media screen and (max-width: 600px) {
	  #restaurants-list li {
      max-width: 100%;
    }
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #FF9800;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin: 15px 30px;
	padding: 8px 0 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 30px;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background: #EF6C00;
  color: #fff;
  text-decoration: underline;
}

#restaurants-list li a:focus {
  outline: 0;
  box-shadow: 0 0 5px 3px rgba(255,224,178, 0.5);
}

#restaurants-list li p, #restaurants-list li h2 {
      padding: 0 30px;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside nav {
  min-height: 100px;
}

.inside header nav h1 {
  margin: 10px;
  position: absolute;
  width: 100%;
  min-height: 40px;
}

@media screen and (max-width: 400px){
  .inside nav {
    min-height: 120px;
  }
}
.inside #map-container {
    height: 100%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
    bottom: 0;
}

@media screen and (max-width: 992px) {
	 .inside #map-container {
     position: relative;
     width: 100%;
     padding-top: 50px;
  }
}
@media screen and (max-width: 450px) {
	 .inside #map-container {
     padding-top: 80px;
  }
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 992px) {
	.inside #map {
    height: 300px;
  }
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 22pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #263238;
  color: #ddd;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container, #form-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}

@media screen and (max-width: 991px) {
	#restaurant-container, #reviews-container, #form-container {
    border-top: 1px solid #fff;
    width: 100%;
  }
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 85%;
}

@media screen and (max-width: 992px) {
	 #reviews-list li {
    width: 100%;
  }
}

#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list li p:first-of-type{
	font-weight: 700;
}

#restaurant-hours td {
  color: #666;
}

.leaflet-control-attribution{
  display: none;
}


#form-container {
  padding-bottom: 120px;
}

#form-container h3 {
  color: #f58500;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#form-container input[type=text], select, textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}

#form-container label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#form-container input[type=submit] {
    background-color: #FF9800;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#form-container input[type=submit]:hover {
    background-color: #EF6C00;
}

@media screen and (max-width: 991px) {
	#form-container input[type=text], select, textarea {
    width: 100%;
  }
}

.favorite{
  font-size: 20px;
  margin-left: 30px;
}

.favorite:hover{
  font-size: 150%;
  cursor: pointer;
}

.favorite:hover:before, .favorite.active:before{
  content: "🧡";
  position: absolute;
}
